:host {
    >.top {
        margin-bottom: 8px;

        >.aika {
            margin-right: 8px;
        }

        >a.selected {
            position: relative;
            padding-left: 20px;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 16px;
                height: 16px;
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
                background-image: url(/favicon.ico);
            }
        }

        >a+a {
            margin-left: 10px;
        }

        >.new-update {
            display: inline-block;
            padding: 4px;
            font-size: 12px;
            color: #fff;
            text-shadow: 1px 1px 0 #000;
            background-color: #EC9294;
        }
    }
}