.root {

    button,
    select,
    input {
        // border: 1px solid #000;

        &:hover {
            cursor: pointer;
        }
    }

    button {
        font-size: 16px;
    }

    >.input-json {
        height: 30px;
        display: flex;
        align-items: flex-start;

        >button {
            width: 60px;
            // height: 24px;
            font-size: 16px;
        }

        >input {
            margin-left: 5px;
            flex: 1;
        }
    }

    >.character-template-select {
        height: 30px;
        display: flex;
        align-items: flex-start;

        >span {
            width: 60px;
        }

        >select {
            margin-left: 5px;
        }

        >button {
            margin-left: 5px;
        }
    }

    >.character {

        input:not([type="range"]),
        select {
            // appearance: none;
            box-sizing: border-box;
            margin: 2px;
            width: 70px;
            height: 24px;
            padding: 0;
            font-size: 16px;
        }


        .buff-list {
            width: 100%;
        }

        .buff {
            display: flex;
            align-items: center;

            >hr.line {
                flex: 1;
                border: 0;
                margin: 0;
                padding: 0;
                border-bottom: 1px dashed #aaa;
            }

            >button.delete {
                width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #f00;
                background-color: #fff;
            }
        }

        >.row {
            margin-right: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-wrap: wrap;

            >table {
                margin-right: 10px;
                margin-bottom: 10px;
                width: 420px;
                // border-collapse: collapse;

                .wrapper {
                    display: flex;
                    align-items: center;
                }

                .calc {
                    border-bottom: 1px dashed #aaa;
                }

                >tbody {
                    >tr {
                        >td {
                            border: 1px solid #aaa;
                        }
                    }
                    >tr:nth-child(1)>td:nth-child(1) {
                        padding: 4px;
                        background-color: #cccccc;
                    }

                    >tr:nth-child(n+2)>td:nth-child(1) {
                        width: 80px;
                        padding: 4px;
                    }

                    >.level>td>.wrapper {
                        input[type=number] {
                            margin-right: 5px;
                            width: 50px;
                        }

                        input[type=range] {
                            margin-left: 5px;
                            border: 1px solid #000;
                        }
                    }
                }


            }

            >.unit {
                span {
                    margin-left: 5px;
                }
            }

            button.new-buff {
                margin-top: 10px;
                width: 100%;
                padding: 5px;
                font-size: 20px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        >.row.character {}

        >.row.weapon {}

        >.row.equipment {}
    }
}