:host>.top {
    margin-bottom: 8px;

    >* {
        margin-right: 8px;
    }

    >.new-update {
        display: inline-block;
        padding: 4px;
        font-size: 12px;
        color: #fff;
        text-shadow: 1px 1px 0 #000;
        background-color: #EC9294;
    }
}