.root button:hover,
.root select:hover,
.root input:hover {
  cursor: pointer;
}

.root button {
  font-size: 16px;
}

.root > .input-json {
  height: 30px;
  display: flex;
  align-items: flex-start;
}

.root > .input-json > button {
  width: 60px;
  font-size: 16px;
}

.root > .input-json > input {
  margin-left: 5px;
  flex: 1;
}

.root > .character-template-select {
  height: 30px;
  display: flex;
  align-items: flex-start;
}

.root > .character-template-select > span {
  width: 60px;
}

.root > .character-template-select > select {
  margin-left: 5px;
}

.root > .character-template-select > button {
  margin-left: 5px;
}

.root > .character {
  display: flex;
  flex-wrap: wrap;
}

.root > .character input:not([type="range"]),
.root > .character select {
  box-sizing: border-box;
  margin: 2px;
  width: 75px;
  height: 24px;
  padding: 0;
  font-size: 16px;
}

.root > .character .buff-list {
  width: 100%;
}

.root > .character .buff {
  display: flex;
  align-items: center;
}

.root > .character .buff > hr.line {
  flex: 1;
  border: 0;
  margin: 0;
  padding: 0;
  border-bottom: 1px dashed #aaa;
}

.root > .character .buff > button.delete {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f00;
  background-color: #fff;
}

.root > .character > .block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.root > .character > .block > .row {
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.root > .character > .block > .row > table {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 450px;
}

.root > .character > .block > .row > table .wrapper {
  display: flex;
  align-items: center;
}

.root > .character > .block > .row > table .calc {
  border-bottom: 1px dashed #aaa;
}

.root > .character > .block > .row > table > tbody > tr > td {
  border: 1px solid #aaa;
}

.root > .character > .block > .row > table > tbody > tr:nth-child(1) > td:nth-child(1) {
  padding: 4px;
  background-color: #cccccc;
}

.root > .character > .block > .row > table > tbody > tr:nth-child(n+2) > td:nth-child(1) {
  width: 80px;
  padding: 4px;
}

.root > .character > .block > .row > table > tbody > .level > td > .wrapper input[type=number] {
  margin-right: 5px;
  width: 50px;
}

.root > .character > .block > .row > table > tbody > .level > td > .wrapper input[type=range] {
  margin-left: 5px;
  border: 1px solid #000;
}

.root > .character > .block > .row > .unit span {
  margin-left: 5px;
}

.root > .character > .block > .row button.new-buff {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
