:host>.root {

    button,
    select,
    input {
        box-sizing: border-box;
        height: 24px;
        font-size: 16px;
        padding: 0;
        margin: 0;

        &:hover {
            cursor: pointer;
        }
    }

    input {
        margin: 0;
        padding: 0;
        min-width: 0;
        width: 70px;
        height: 24px;
    }

    table {

        td,
        th {
            min-width: 70px;
            padding: 4px;
            border: 1px solid #ccc;
            white-space: nowrap;

            >.add {
                width: 100%;
            }
        }

        th {
            font-size: 13px;

            &[title] {
                text-decoration: underline dotted #000;
            }
        }

        tr {
            >.name {
                min-width: 250px;
                width: 250px;

                >input {
                    box-sizing: border-box;
                    width: 100%;
                }
            }
        }

        tr.add-row>td>button {
            width: 100%;
        }

        tr>td.close>.wrapper>.delete {
            margin-left: auto;
        }

        .wrapper {
            display: flex;
            align-items: center;
        }

        .hoz {
            flex: 1;
            // border-bottom: 1px dashed #aaa;
        }

        button.delete {
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #f00;
            background-color: #fff;
        }

        .phy {
            background-color: #fcc;
        }

        .ene {
            background-color: #ccf;
        }
    }


    >.damage-rate-calc {
        >table>tbody {
            >tr {
                >.addon-calc {
                    >.addon {
                        display: flex;

                        >select {}

                        >input {
                            width: 50px;
                        }
                    }

                    >.add {
                        width: 100%;
                    }
                }
            }


        }
    }

    >.damage-calc {
        >table>tbody>tr {
            >.enemy-debuff {
                min-width: 175px;
                width: 175px;

                >.wrapper {
                    >.delete {
                        margin-left: auto;
                    }
                }
            }

            >.output-dmg {
                min-width: 200px;
                width: 200px;
            }
        }
    }
}