<div class="root">
    <div class="damage-rate-calc">
        <div class="title">
            <div class="atk"></div>
            <div class="attr"></div>
            <div class="min-dmg"></div>
            <div class="max-dmg"></div>
            <div class="addon-calc"></div>
            <div class="output-dmg-rate"></div>
            <div class="close"></div>
        </div>
        <div class="list">
            <div class="case">
                <div class="chr-atk"></div>
                <div class="chr-attr"></div>
                <div class="min-dmg"></div>
                <div class="max-dmg"></div>
                <div class="addon-calc"></div>
                <div class="output-dmg-rate"></div>
                <div class="close"></div>
            </div>
            <button class="add">[+]</button>
        </div>
    </div>
    <div class="damage-calc">
        <div class="title">
            <div class="drag-move"></div>
            <div class="name"></div>
            <div class="attack-atk"></div>
            <div class="attack-attr"></div>
            <div class="attack-rate"></div>
            <div class="enemy-def"></div>
            <div class="enemy-attr"></div>
            <div class="enemy-resist"></div>
            <div class="enemy-debuff"></div>
            <div class="calc-dmg-atk"></div>
            <div class="calc-dmg-attr"></div>
            <div class="calc-dmg-final"></div>
            <div class="output-dmg"></div>
        </div>
        <div class="list">
            <div class="plan">
                <div class="drag-move"></div>
                <div class="name"></div>
                <div class="attack-atk"></div>
                <div class="attack-attr"></div>
                <div class="attack-dmg-rate"></div>
                <div class="attack-dmg-buff"></div>
                <div class="enemy-def"></div>
                <div class="enemy-attr"></div>
                <div class="enemy-resist"></div>
                <div class="enemy-debuff"></div>
                <div class="calc-dmg-atk"></div>
                <div class="calc-dmg-attr"></div>
                <div class="calc-dmg-final"></div>
                <div class="output-dmg"></div>
                <div class="close"></div>
            </div>
            <button class="add">[+]</button>
        </div>
    </div>
</div>