:host>.root {

    button,
    select,
    input {
        font-size: 16px;

        &:hover {
            cursor: pointer;
        }
    }

    input {
        margin: 0;
        padding: 0;
        min-width: 0;
        width: 70px;
        height: 24px;
    }

    >.damage-rate-calc {


        >table {

            td,
            th {
                border: 1px solid #000;
            }

            >tbody {
                >tr {
                    >td {
                        min-width: 70px;
                    }

                    >.name {
                        min-width: 250px;
                        width: 250px;

                        >input {
                            box-sizing: border-box;
                            width: 100%;
                        }
                    }

                    >.addon-calc {
                        >.addon {
                            display: flex;

                            >select {}

                            >input {
                                width: 50px;
                            }
                        }

                        >.add {
                            width: 100%;
                        }
                    }
                }

                >.add-row>td>button {
                    width: 100%;
                    padding: 8px;
                }
            }
        }
    }

    >.damage-calc {
        >table {

            td,
            th {
                border: 1px solid #000;
            }

            >tbody {
                >tr {
                    >td {}

                    >.name {
                        min-width: 250px;
                        width: 250px;

                        >input {
                            box-sizing: border-box;
                            width: 100%;
                        }
                    }
                }

                >.add-row>td>button {
                    width: 100%;
                    padding: 8px;
                }
            }
        }
    }
}