<div class="root">
    <div class="damage-rate-calc">
        <div class="title">weapon rate calc</div>
        <table>
            <thead>
                <tr>
                    <th class="name">名稱</th>
                    <th class="atk">ATK</th>
                    <th class="attr">屬性</th>
                    <th class="min-dmg">最小傷害</th>
                    <th class="max-dmg">最大傷害</th>
                    <th class="addon-calc">附加計算</th>
                    <th class="output-dmg-rate">傷害比率</th>
                    <th class="close"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dmgrList">
                    <td class="name">
                        <input type="text" [(ngModel)]="item.name" (ngModelChange)="item.update()">
                    </td>
                    <td class="atk">
                        <input type="number" [(ngModel)]="item.atk" (ngModelChange)="item.update()">
                    </td>
                    <td class="attr">
                        <input type="number" [(ngModel)]="item.attr" (ngModelChange)="item.update()">
                    </td>
                    <td class="min-dmg">
                        <input type="number" [(ngModel)]="item.minDmg" (ngModelChange)="item.update()">
                    </td>
                    <td class="max-dmg">
                        <input type="number" [(ngModel)]="item.maxDmg" (ngModelChange)="item.update()">
                    </td>
                    <td class="addon-calc">
                        <div class="addon" *ngFor="let extraItem of item.extraCalc">
                            <select [(ngModel)]="extraItem.type" (ngModelChange)="item.update()">
                                <option value="+" selected>+</option>
                                <option value="-">-</option>
                                <option value="×">×</option>
                                <option value="÷">÷</option>
                            </select>
                            <input type="number" [(ngModel)]="extraItem.value" (ngModelChange)="item.update()">
                            <div class="hoz"></div>
                            <button>X</button>
                        </div>
                        <button class="add" (click)="item.addExtraCalc()">[+]</button>
                    </td>
                    <td class="output-dmg-rate">{{item.damageRate}}</td>
                    <td class="close">
                        <div class="hoz"></div>
                        <button (click)="removeRate(item)">X</button>
                    </td>
                </tr>
                <tr class="add-row">
                    <td colspan="8">
                        <button class="add" (click)="addRate()">[+]</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="damage-calc">
        <div class="title">damage-calc</div>
        <table>
            <thead>
                <tr>
                    <th class="name">名稱</th>
                    <th class="attack-atk">ATK</th>
                    <th class="attack-attr">屬性</th>
                    <th class="attack-rate">比率</th>
                    <th class="final-dmg-buff">傷害buff</th>
                    <th class="enemy-def">目標DEF</th>
                    <th class="enemy-attr">目標屬性</th>
                    <th class="enemy-resist">目標耐性</th>
                    <th class="enemy-debuff">目標debuff</th>
                    <th class="calc-dmg-atk">物理傷害</th>
                    <th class="calc-dmg-attr">屬性傷害</th>
                    <th class="output-dmg">輸出傷害</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dmgcList">
                    <td class="name">{{item.name}}</td>
                    <td class="attack-atk">
                        <select [(ngModel)]="item.atkTypeId" (ngModelChange)="item.update()">
                            <option value="1">打擊</option>
                            <option value="2">斬擊</option>
                            <option value="3" selected>實彈</option>
                            <option value="4">能量</option>
                        </select>
                        <input type="text" [(ngModel)]="item.atk" (ngModelChange)="item.update()">
                    </td>
                    <td class="attack-attr">
                        <select [(ngModel)]="item.attrTypeId" (ngModelChange)="item.update()">
                            <option value="5" selected>電擊</option>
                            <option value="6">重力</option>
                            <option value="7">燒夷</option>
                            <option value="8">冷擊</option>
                        </select>
                        <input type="text" [(ngModel)]="item.attr" (ngModelChange)="item.update()">
                    </td>
                    <td class="attack-rate">
                        <input type="text" [(ngModel)]="item.damageRate" (ngModelChange)="item.update()">
                    </td>
                    <td class="final-dmg-buff">
                        <button class="add">[+]</button>
                    </td>
                    <td class="enemy-def">
                        <input type="text" [(ngModel)]="item.enemyDef" (ngModelChange)="item.update()">
                    </td>
                    <td class="enemy-attr">
                        <select [(ngModel)]="item.enemyAttrTypeId" (ngModelChange)="item.update()">
                            <option value="22" selected>無</option>
                            <option value="5">電擊</option>
                            <option value="6">重力</option>
                            <option value="7">燒夷</option>
                            <option value="8">冷擊</option>
                        </select>
                    </td>
                    <td class="enemy-resist">
                        <button class="add">[+]</button>
                    </td>
                    <td class="enemy-debuff">
                        <button class="add">[+]</button>
                    </td>
                    <td class="calc-dmg-atk">{{item.outputAtkDamage}}</td>
                    <td class="calc-dmg-attr">{{item.outputAttrDamage}}</td>
                    <td class="output-dmg">{{item.outputDamage}}</td>
                </tr>
                <tr class="add-row">
                    <td colspan="12">
                        <button class="add">[+]</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>