.aika-spin {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;

    table {
        border-collapse: collapse;

        th,
        td {
            border: 1px solid #ccc;
            padding: 5px;
            text-align: left;

            &.center {
                text-align: center;
            }
        }

        th {
            background-color: #f0f0f0;
        }
    }

    img.preview-image {
        width: 30px;
        height: 30px;
        max-width: 30px;
        max-height: 30px;
    }

    button.add {
        font-size: 18px;
        width: 100%;
        font-weight: bold;
        white-space: nowrap;
    }

    button.add3 {
        font-size: 16px;
        width: 25%;
        font-weight: bold;
        white-space: nowrap;
    }

    .config-panel {
        box-sizing: border-box;
        height: 100%;
        padding: 10px;
        border-right: 1px solid #ccc;
        overflow: auto;
    }

    .spin-panel {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .toolbar {
            padding: 5px;
            border-bottom: 1px solid #ccc;

            button {
                margin-right: 5px;
            }
        }

        .action-panel {
            width: 100%;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: auto;

            canvas {
                border: 1px solid #ddd;
                background-color: #f9f9f9;
            }
        }
    }

    .image-attach-cell {
        .attach-image {
            width: 100%;
        }

        .attach-image-row {
            display: flex;
            align-items: center;
            margin-bottom: 4px;

            input {
                width: 30px;

                &.valid {
                    border: 1px solid #0f0;
                    outline: 1px solid #0f0;
                }

                &.invalid {
                    border: 1px solid red;
                    outline: 1px solid red;
                }
            }

            button.remove {
                flex-shrink: 0;
            }
        }
    }

    .action-cell {
        input[type="number"] {
            width: 50px;
        }
    }
}
