<div class="aika-spin">
  <div class="config-panel">
    <div class="images-input">
      <div>圖片網址</div>
      <table>
        <tr>
          <th>ID</th>
          <th>預覽</th>
          <th>圖片網址</th>
          <th>操作</th>
        </tr>
        @for (aikaImg of aikaImages; track aikaImg; let i = $index) {
          <tr>
            <td>{{ aikaImg.id }}</td>
            <td>
              @if (aikaImg.imageLoaded) {
                <img class="preview-image" [src]="aikaImg.imageDataUrl">
              }
              <!-- <span *ngIf="!aikaImg.imageLoaded">--</span> -->
              @if (!aikaImg.imageLoaded) {
                <img class="preview-image" src="/favicon.ico">
              }
            </td>
            <td>
              <input type="text" [(ngModel)]="aikaImg.url" />
            </td>
            <td>
              <button [disabled]="aikaImg.imageLoading" (click)="aikaImageLoadUrl(aikaImg)">讀取</button>
              <button (click)="removeImage(aikaImg)">[X]</button>
            </td>
          </tr>
        }
        <tr>
          <td colspan="4" class="center">
            <button class="add" (click)="newAikaImage()">[+]</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="move-input">
      <div>移動、旋轉控制</div>
      <table>
        <tr>
          <th>ID</th>
          <th>類型</th>
          <th>設定</th>
          <th>關聯圖片</th>
          <th>操作</th>
        </tr>
        @for (action of actionSettings; track action; let i = $index) {
          <tr>
            <td>{{ action.id }}</td>
            <td>
              @if (action.type === 'spin') {
                <span>旋轉</span>
              }
              @if (action.type === 'orbit') {
                <span>環繞</span>
              }
              @if (action.type === 'path') {
                <span>路徑</span>
              }
              @if (action.type === 'scale') {
                <span>縮放</span>
              }
            </td>
            <td class="action-cell">
              @if (action.type === 'spin') {
                <div>
                  <div class="setting-row">
                    <span>角度X</span>
                    <input type="number" [(ngModel)]="action.spinSetting.rotateXAngle" />
                  </div>
                  <div class="setting-row">
                    <span>角度Y</span>
                    <input type="number" [(ngModel)]="action.spinSetting.rotateYAngle" />
                  </div>
                  <div class="setting-row">
                    <span>角度Z</span>
                    <input type="number" [(ngModel)]="action.spinSetting.rotateZAngle" />
                  </div>
                  <div class="setting-row">
                    <span>時間秒</span>
                    <input type="number" [(ngModel)]="action.spinSetting.duration" />
                  </div>
                </div>
              }
              @if (action.type === 'orbit') {
                <div>
                  <div class="setting-row">
                    <span>中心X</span>
                    <input type="number" [(ngModel)]="action.orbitSetting.centerX" (ngModelChange)="onOrbitSettingChange()" />
                  </div>
                  <div class="setting-row">
                    <span>中心Y</span>
                    <input type="number" [(ngModel)]="action.orbitSetting.centerY" (ngModelChange)="onOrbitSettingChange()" />
                  </div>
                  <div class="setting-row">
                    <span>半徑</span>
                    <input type="number" [(ngModel)]="action.orbitSetting.radius" (ngModelChange)="onOrbitSettingChange()" />
                  </div>
                  <div class="setting-row">
                    <span>角度X</span>
                    <input type="number" [(ngModel)]="action.orbitSetting.angleX" (ngModelChange)="onOrbitSettingChange()" />
                  </div>
                  <div class="setting-row">
                    <span>角度Y</span>
                    <input type="number" [(ngModel)]="action.orbitSetting.angleY" (ngModelChange)="onOrbitSettingChange()" />
                  </div>
                  <div class="setting-row">
                    <span>角度Z</span>
                    <input type="number" [(ngModel)]="action.orbitSetting.angleZ" (ngModelChange)="onOrbitSettingChange()" />
                  </div>
                  <div class="setting-row">
                    <span>時間秒</span>
                    <input type="number" [(ngModel)]="action.orbitSetting.duration" (ngModelChange)="onOrbitSettingChange()" />
                  </div>
                </div>
              }
            </td>
            <td class="image-attach-cell">
              @for (img of action.attachImages; track img) {
                <div class="attach-image-row">
                  <input type="number" [ngClass]="{valid:img.aikaImage!=null,invalid:img.aikaImage==null}" [(ngModel)]="img.imageId" (ngModelChange)="onAttachImageIdChange(img)" />
                  <button class="remove" (click)="removeAttachImage(action, img)">[x]</button>
                </div>
              }
              <button class="attach-image" (click)="addAttachImage(action)">[+]</button>
            </td>
            <td>
              <button (click)="removeAction(action)">[X]</button>
            </td>
          </tr>
        }
        <tr>
          <td colspan="5" class="center">
            <button class="add3" (click)="createSpin()">[+旋轉]</button>
            <button class="add3" (click)="createOrbit()">[+環繞]</button>
            <button class="add3" (click)="createPath()">[+路徑]</button>
            <button class="add3" (click)="createScale()">[+縮放]</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="spin-panel">
    <div class="toolbar">
      <button (click)="stopAnimation()">停止</button>
      <button (click)="playAnimation()">播放</button>
    </div>
    <div class="action-panel">
      <canvas #orbitCanvas width="800" height="600"></canvas>
    </div>
  </div>
</div>
