<div class="root">
    <div class="character-template-select">
        <span class="actress">Actress:</span>
        <select [(ngModel)]="selectedCharacterTemplateIndex" (ngModelChange)="onCharacterTemplateChange()">
            <option *ngFor="let characterTemplate of characterTemplates;let i=index;" [value]="i">
                {{characterTemplate.name+'★'+characterTemplate.rare}}</option>
        </select>
        <button (click)="setCharacterTemplateToCharacter()">SET</button>
    </div>
    <div class="character" *ngIf="character">
        <div class="block">
            <div class="row character">
                <table class="status-table">
                    <tbody>
                        <tr>
                            <td colspan="2">{{character.name+' ★'+character.rare}}</td>
                        </tr>
                        <tr class="level">
                            <td>Lv</td>
                            <td>
                                <div class="wrapper">
                                    <input type="number" [(ngModel)]="character.level" [attr.min]="character.levelMin"
                                        [attr.max]="character.levelMax" (ngModelChange)="character.updateStatus()">
                                    <span>{{character.levelMin}}</span>
                                    <input type="range" [attr.min]="character.levelMin" [attr.max]="character.levelMax"
                                        [(ngModel)]="character.level" (ngModelChange)="character.updateStatus()">
                                    <span>{{character.levelMax}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="level">
                            <td>上限解放</td>
                            <td>
                                <div class="wrapper">
                                    <input type="number" [disabled]="character.level!=character.levelMax" [attr.min]="0"
                                        [attr.max]="character.gradeUpLimit" [(ngModel)]="character.gradeUp"
                                        (ngModelChange)="character.updateStatus()">
                                    <span>0</span>
                                    <input type="range" [disabled]="character.level!=character.levelMax" [attr.min]="0"
                                        [attr.max]="character.gradeUpLimit" [(ngModel)]="character.gradeUp"
                                        (ngModelChange)="character.updateStatus()">
                                    <span>{{character.gradeUpLimit}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="hp">
                            <td>HP</td>
                            <td>
                                <!-- <div class="calc">(角色:{{character.hp}})</div> -->
                                <div class="warpper">{{character.hp}}</div>
                            </td>
                        </tr>
                        <tr class="shot-atk">
                            <td>射擊ATK</td>
                            <td>
                                <!-- <div class="calc"></div> -->
                                <div class="warpper">{{character.atkShot}}</div>
                            </td>
                        </tr>
                        <tr class="shot-attr">
                            <td>屬性值</td>
                            <td>
                                <!-- <div class="calc"></div> -->
                                <div class="warpper" [style.color]="character.weaponShot.attrColor">
                                    {{character.attrShot}}</div>
                            </td>
                        </tr>
                        <tr class="close-atk">
                            <td>近身ATK</td>
                            <td>
                                <!-- <div class="calc"></div> -->
                                <div class="warpper">{{character.atkClose}}</div>
                            </td>
                        </tr>
                        <tr class="close-attr">
                            <td>屬性值</td>
                            <td>
                                <!-- <div class="calc"></div> -->
                                <div class="warpper" [style.color]="character.weaponClose.attrColor">
                                    {{character.attrClose}}
                                </div>
                            </td>
                        </tr>
                        <tr class="close-attr">
                            <td>DEF</td>
                            <td>
                                <!-- <div class="calc"></div> -->
                                <div class="warpper">{{character.def}}</div>
                            </td>
                        </tr>
                        <tr class="buff-list-tr">
                            <td>Buff</td>
                            <td>
                                <div class="wrapper">
                                    <div class="buff-list">
                                        <div class="buff" *ngFor="let buff of character.buffs">
                                            <select [(ngModel)]="buff.type" (ngModelChange)="character.updateStatus()">
                                                <option *ngFor="let attrType of attrTypeList" [value]="attrType.id">
                                                    {{attrType.name}}
                                                </option>
                                            </select>
                                            <input type="number" class="value" [(ngModel)]="buff.valuePct"
                                                [style.color]="buff.attrColor"
                                                (ngModelChange)="character.updateStatus()">%
                                            <hr class="line">
                                            <button class="delete" (click)="deleteBuff(character.buffs,buff);
                                                character.updateStatus()">X</button>
                                        </div>
                                        <button class="new-buff" (click)="addBuff(character.buffs);
                                        character.updateStatus()">[+]</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="block">
            <div class="row weapon">
                <table class="unit weapon-shot">
                    <tbody>
                        <tr>
                            <td colspan="2">射擊</td>
                        </tr>
                        <tr class="atk">
                            <td>ATK</td>
                            <td>
                                <div class="wrapper">
                                    <select [(ngModel)]="character.weaponShot.base.unitType"
                                        (ngModelChange)="character.updateStatus()">
                                        <option *ngFor="let attrType of attrTypeGearShotList"
                                            [attr.value]="attrType.id">
                                            {{attrType.name}}
                                        </option>
                                    </select>
                                    <select [(ngModel)]="character.weaponShot.base.atkAmmoTypeId"
                                        (ngModelChange)="character.updateStatus()">
                                        <option *ngFor="let attrType of attrTypeShotAmmoTypeList"
                                            [attr.value]="attrType.id">
                                            {{attrType.name}}
                                        </option>
                                    </select>
                                    <input type="number" [(ngModel)]="character.weaponShot.base.atk"
                                        (ngModelChange)="character.updateStatus()">
                                    <span>(Tune: {{character.weaponShot.atk}})</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="attr">
                            <td>屬性值</td>
                            <td>
                                <div class="wrapper">
                                    <select [(ngModel)]="character.weaponShot.base.attrTypeId"
                                        (ngModelChange)="character.updateStatus()">
                                        <option *ngFor="let attrType of attrTypeAttrList" [attr.value]="attrType.id">
                                            {{attrType.name}}
                                        </option>
                                    </select>
                                    <input type="number" [style.color]="character.weaponClose.attrColor"
                                        [(ngModel)]="character.weaponShot.base.attr"
                                        (ngModelChange)="character.updateStatus()">
                                    <span [style.color]="character.weaponShot.attrColor">(Tune:
                                        {{character.weaponShot.attr}})</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="buff-list-tr">
                            <td>Buff</td>
                            <td>
                                <div class="wrapper">
                                    <div class="buff-list">
                                        <div class="buff" *ngFor="let buff of character.weaponShot.buffs">
                                            <select [(ngModel)]="buff.type" (ngModelChange)="character.updateStatus()">
                                                <option *ngFor="let attrType of attrTypeList"
                                                    [attr.value]="attrType.id">
                                                    {{attrType.name}}
                                                </option>
                                            </select>
                                            <input type="number" class="value" [(ngModel)]="buff.valuePct"
                                                [style.color]="buff.attrColor"
                                                (ngModelChange)="character.updateStatus()">%
                                            <hr class="line">
                                            <button class="delete" (click)="deleteBuff(character.weaponShot.buffs,buff);
                                            character.updateStatus()">X</button>
                                        </div>
                                        <button class="new-buff" (click)="addBuff(character.weaponShot.buffs);
                                        character.updateStatus()">[+]</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="tune-list">
                            <td>Tune</td>
                            <td>
                                <div class="wrapper">
                                    <div class="buff-list">
                                        <div class="buff" *ngFor="let buff of character.weaponShot.tunes">
                                            <select [(ngModel)]="buff.type" (ngModelChange)="character.updateStatus()">
                                                <option *ngFor="let attrType of attrTypeList"
                                                    [attr.value]="attrType.id">
                                                    {{attrType.name}}
                                                </option>
                                            </select>
                                            <input type="number" class="value" [(ngModel)]="buff.valuePct"
                                                [style.color]="buff.attrColor"
                                                (ngModelChange)="character.updateStatus()">%
                                            <hr class="line">
                                            <button class="delete" (click)="deleteBuff(character.weaponShot.tunes,buff);
                                            character.updateStatus()">X</button>
                                        </div>
                                        <button class="new-buff" (click)="addBuff(character.weaponShot.tunes);
                                        character.updateStatus()">[+]</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="unit weapon-close">
                    <tbody>
                        <tr>
                            <td colspan="2">近身</td>
                        </tr>
                        <tr class="atk">
                            <td>ATK</td>
                            <td>
                                <div class="wrapper">
                                    <select [(ngModel)]="character.weaponClose.base.unitType"
                                        (ngModelChange)="character.updateStatus()">
                                        <option *ngFor="let attrType of attrTypeGearCloseList"
                                            [attr.value]="attrType.id">
                                            {{attrType.name}}
                                        </option>
                                    </select>
                                    <select [(ngModel)]="character.weaponClose.base.atkAmmoTypeId"
                                        (ngModelChange)="character.updateStatus()">
                                        <option *ngFor="let attrType of attrTypeCloseHitTypeList"
                                            [attr.value]="attrType.id">
                                            {{attrType.name}}
                                        </option>
                                    </select>
                                    <input type="number" [(ngModel)]="character.weaponClose.base.atk"
                                        (ngModelChange)="character.updateStatus()">
                                    <span>(Tune: {{character.weaponClose.atk}})</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="attr">
                            <td>屬性值</td>
                            <td>
                                <div class="wrapper">
                                    <select [(ngModel)]="character.weaponClose.base.attrTypeId"
                                        (ngModelChange)="character.updateStatus()">
                                        <option *ngFor="let attrType of attrTypeAttrList" [attr.value]="attrType.id">
                                            {{attrType.name}}
                                        </option>
                                    </select>
                                    <input type="number" [style.color]="character.weaponClose.attrColor"
                                        [(ngModel)]="character.weaponClose.base.attr"
                                        (ngModelChange)="character.updateStatus()">
                                    <span [style.color]="character.weaponClose.attrColor">(Tune:
                                        {{character.weaponClose.attr}})</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="buff-list-tr">
                            <td>Buff</td>
                            <td>
                                <div class="wrapper">
                                    <div class="buff-list">
                                        <div class="buff" *ngFor="let buff of character.weaponClose.buffs">
                                            <select [(ngModel)]="buff.type" (ngModelChange)="character.updateStatus()">
                                                <option *ngFor="let attrType of attrTypeList"
                                                    [attr.value]="attrType.id">
                                                    {{attrType.name}}
                                                </option>
                                            </select>
                                            <input type="number" class="value" [(ngModel)]="buff.valuePct"
                                                [style.color]="buff.attrColor"
                                                (ngModelChange)="character.updateStatus()">%
                                            <hr class="line">
                                            <button class="delete" (click)="deleteBuff(character.weaponClose.buffs,buff);
                                            character.updateStatus()">X</button>
                                        </div>
                                        <button class="new-buff" (click)="addBuff(character.weaponClose.buffs);
                                        character.updateStatus()">[+]</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="tune-list">
                            <td>Tune</td>
                            <td>
                                <div class="wrapper">
                                    <div class="buff-list">
                                        <div class="buff" *ngFor="let buff of character.weaponClose.tunes">
                                            <select [(ngModel)]="buff.type" (ngModelChange)="character.updateStatus()">
                                                <option *ngFor="let attrType of attrTypeList"
                                                    [attr.value]="attrType.id">
                                                    {{attrType.name}}
                                                </option>
                                            </select>
                                            <input type="number" class="value" [(ngModel)]="buff.valuePct"
                                                [style.color]="buff.attrColor"
                                                (ngModelChange)="character.updateStatus()">%
                                            <hr class="line">
                                            <button class="delete" (click)="deleteBuff(character.weaponClose.tunes,buff);
                                            character.updateStatus()">X</button>
                                        </div>
                                        <button class="new-buff" (click)="addBuff(character.weaponClose.tunes);
                                        character.updateStatus()">[+]</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row equipment">
                <table class="unit equipment-top">
                    <tbody>
                        <tr>
                            <td colspan="2">上身</td>
                        </tr>
                        <tr class="hp">
                            <td>HP</td>
                            <td>
                                <div class="wrapper">
                                    <input type="number" [(ngModel)]="character.equipmentTop.base.hp"
                                        (ngModelChange)="character.updateStatus()">
                                    <span>(Tune: {{character.equipmentTop.hp}})</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="def">
                            <td>DEF</td>
                            <td>
                                <div class="wrapper">
                                    <input type="number" [(ngModel)]="character.equipmentTop.base.def"
                                        (ngModelChange)="character.updateStatus()">
                                    <span>(Tune: {{character.equipmentTop.def}})</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="buff-list-tr">
                            <td>Buff</td>
                            <td>
                                <div class="wrapper">
                                    <div class="buff-list">
                                        <div class="buff" *ngFor="let buff of character.equipmentTop.buffs">
                                            <select [(ngModel)]="buff.type" (ngModelChange)="character.updateStatus()">
                                                <option *ngFor="let attrType of attrTypeList"
                                                    [attr.value]="attrType.id">
                                                    {{attrType.name}}
                                                </option>
                                            </select>
                                            <input type="number" class="value" [(ngModel)]="buff.valuePct"
                                                [style.color]="buff.attrColor"
                                                (ngModelChange)="character.updateStatus()">%
                                            <hr class="line">
                                            <button class="delete" (click)="deleteBuff(character.equipmentTop.buffs,buff);
                                            character.updateStatus()">X</button>
                                        </div>
                                        <button class="new-buff" (click)="addBuff(character.equipmentTop.buffs);
                                            character.updateStatus()">[+]</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="tune-list">
                            <td>Tune</td>
                            <td>
                                <div class="wrapper">
                                    <div class="buff-list">
                                        <div class="buff" *ngFor="let buff of character.equipmentTop.tunes">
                                            <select [(ngModel)]="buff.type" (ngModelChange)="character.updateStatus()">
                                                <option *ngFor="let attrType of attrTypeList"
                                                    [attr.value]="attrType.id">
                                                    {{attrType.name}}
                                                </option>
                                            </select>
                                            <input type="number" class="value" [(ngModel)]="buff.valuePct"
                                                [style.color]="buff.attrColor"
                                                (ngModelChange)="character.updateStatus()">%
                                            <hr class="line">
                                            <button class="delete" (click)="deleteBuff(character.equipmentTop.tunes,buff);
                                            character.updateStatus()">X</button>
                                        </div>
                                        <button class="new-buff" (click)="addBuff(character.equipmentTop.tunes);
                                            character.updateStatus()">[+]</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="unit equipment-bottom">
                    <tbody>
                        <tr>
                            <td colspan="2">下身</td>
                        </tr>
                        <tr class="hp">
                            <td>HP</td>
                            <td>
                                <div class="wrapper">
                                    <input type="number" [(ngModel)]="character.equipmentBottom.base.hp"
                                        (ngModelChange)="character.updateStatus()">
                                    <span>(Tune: {{character.equipmentBottom.hp}})</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="def">
                            <td>DEF</td>
                            <td>
                                <div class="wrapper">
                                    <input type="number" [(ngModel)]="character.equipmentBottom.base.def"
                                        (ngModelChange)="character.updateStatus()">
                                    <span>(Tune: {{character.equipmentBottom.def}})</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="buff-list-tr">
                            <td>Buff</td>
                            <td>
                                <div class="wrapper">
                                    <div class="buff-list">
                                        <div class="buff" *ngFor="let buff of character.equipmentBottom.buffs">
                                            <select [(ngModel)]="buff.type" (ngModelChange)="character.updateStatus()">
                                                <option *ngFor="let attrType of attrTypeList"
                                                    [attr.value]="attrType.id">
                                                    {{attrType.name}}
                                                </option>
                                            </select>
                                            <input type="number" class="value" [(ngModel)]="buff.valuePct"
                                                [style.color]="buff.attrColor"
                                                (ngModelChange)="character.updateStatus()">%
                                            <hr class="line">
                                            <button class="delete" (click)="deleteBuff(character.equipmentBottom.buffs,buff);
                                            character.updateStatus()">X</button>
                                        </div>
                                        <button class="new-buff" (click)="addBuff(character.equipmentBottom.buffs);
                                            character.updateStatus()">[+]</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="tune-list">
                            <td>Tune</td>
                            <td>
                                <div class="wrapper">
                                    <div class="buff-list">
                                        <div class="buff" *ngFor="let buff of character.equipmentBottom.tunes">
                                            <select [(ngModel)]="buff.type" (ngModelChange)="character.updateStatus()">
                                                <option *ngFor="let attrType of attrTypeList"
                                                    [attr.value]="attrType.id">
                                                    {{attrType.name}}
                                                </option>
                                            </select>
                                            <input type="number" class="value" [(ngModel)]="buff.valuePct"
                                                [style.color]="buff.attrColor"
                                                (ngModelChange)="character.updateStatus()">%
                                            <hr class="line">
                                            <button class="delete" (click)="deleteBuff(character.equipmentBottom.tunes,buff);
                                            character.updateStatus()">X</button>
                                        </div>
                                        <button class="new-buff" (click)="addBuff(character.equipmentBottom.tunes);
                                            character.updateStatus()">[+]</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>