<div class="root">
    <div class="character-template-select">
        <span class="actress">Actress:</span>
        <select [(ngModel)]="selectedCharacterTemplateIndex" (ngModelChange)="onCharacterTemplateChange()">
            <option *ngFor="let characterTemplate of characterTemplates;let i=index;" [value]="i">
                {{characterTemplate.name+'★'+characterTemplate.rare}}</option>
        </select>
        <button (click)="setCharacterTemplateToCharacter()">SET</button>
    </div>
    <div class="character" *ngIf="character">
        <div class="block character">
            <div class="row character">
                <table class="status-table">
                    <tbody>
                        <tr>
                            <td class="title-cell" colspan="2">{{character.name+' ★'+character.rare}}</td>
                        </tr>
                        <tr class="level">
                            <td class="name">Lv</td>
                            <td>
                                <div class="wrapper-row">
                                    <input type="number" [(ngModel)]="character.level" [attr.min]="character.levelMin"
                                        [attr.max]="character.levelMax" (ngModelChange)="character.updateStatus()">
                                    <span>{{character.levelMin}}</span>
                                    <input type="range" [attr.min]="character.levelMin" [attr.max]="character.levelMax"
                                        [(ngModel)]="character.level" (ngModelChange)="character.updateStatus()">
                                    <span>{{character.levelMax}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="level">
                            <td class="name">上限解放</td>
                            <td>
                                <div class="wrapper-row">
                                    <input type="number" [disabled]="character.level!=character.levelMax" [attr.min]="0"
                                        [attr.max]="character.gradeUpLimit" [(ngModel)]="character.gradeUp"
                                        (ngModelChange)="character.updateStatus()">
                                    <span>0</span>
                                    <input type="range" [disabled]="character.level!=character.levelMax" [attr.min]="0"
                                        [attr.max]="character.gradeUpLimit" [(ngModel)]="character.gradeUp"
                                        (ngModelChange)="character.updateStatus()">
                                    <span>{{character.gradeUpLimit}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="hp">
                            <td class="name">HP</td>
                            <td>
                                <!-- <div class="calc">(角色:{{character.hp}})</div> -->
                                <div class="warpper">{{character.hp}}</div>
                            </td>
                        </tr>
                        <tr class="shot-atk">
                            <td class="name">射擊ATK</td>
                            <td>
                                <!-- <div class="calc"></div> -->
                                <div class="warpper">{{character.atkShot}}</div>
                            </td>
                        </tr>
                        <tr class="shot-attr">
                            <td class="name">屬性值</td>
                            <td>
                                <!-- <div class="calc"></div> -->
                                <div class="warpper" [style.color]="character.weaponShot.attrColor">
                                    {{character.attrShot}}</div>
                            </td>
                        </tr>
                        <tr class="close-atk">
                            <td class="name">近身ATK</td>
                            <td>
                                <!-- <div class="calc"></div> -->
                                <div class="warpper">{{character.atkClose}}</div>
                            </td>
                        </tr>
                        <tr class="close-attr">
                            <td class="name">屬性值</td>
                            <td>
                                <!-- <div class="calc"></div> -->
                                <div class="warpper" [style.color]="character.weaponClose.attrColor">
                                    {{character.attrClose}}
                                </div>
                            </td>
                        </tr>
                        <tr class="close-attr">
                            <td class="name">DEF</td>
                            <td>
                                <!-- <div class="calc"></div> -->
                                <div class="warpper">{{character.def}}</div>
                            </td>
                        </tr>
                        <tr class="buff-list-tr">
                            <td class="name">Buff</td>
                            <td>
                                <div class="wrapper-row">
                                    <div class="buff-list">
                                        <div class="buff" *ngFor="let buff of character.buffs">
                                            <select [(ngModel)]="buff.type" (ngModelChange)="character.updateStatus()">
                                                <option *ngFor="let attrType of attrTypeList" [value]="attrType.id">
                                                    {{attrType.name}}
                                                </option>
                                            </select>
                                            <input type="number" class="value" [(ngModel)]="buff.valuePct"
                                                [style.color]="buff.attrColor"
                                                (ngModelChange)="character.updateStatus()">%
                                            <hr class="line">
                                            <button class="delete" (click)="deleteBuff(character.buffs,buff);
                                                character.updateStatus()">X</button>
                                        </div>
                                        <button class="new-buff" (click)="addBuff(character.buffs);
                                        character.updateStatus()">[+]</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="block gear">
            <div class="row weapon">
                <table class="unit weapon-shot">
                    <tbody>
                        <tr>
                            <td class="title-cell" colspan="2">射擊</td>
                        </tr>
                        <ng-container
                            *ngTemplateOutlet="gearCustomRow; context:{data:{gears:character.weaponShots,gear:character.weaponShot}}">
                        </ng-container>
                        <ng-container *ngIf="character.weaponShot.isCustom">
                            <tr class="atk">
                                <td class="name">ATK</td>
                                <td>
                                    <div class="wrapper-row">
                                        <select [(ngModel)]="character.weaponShot.base.unitType"
                                            (ngModelChange)="character.updateStatus()">
                                            <option *ngFor="let attrType of attrTypeGearShotList"
                                                [attr.value]="attrType.id">
                                                {{attrType.name}}
                                            </option>
                                        </select>
                                        <select [(ngModel)]="character.weaponShot.base.atkAmmoTypeId"
                                            (ngModelChange)="character.updateStatus()">
                                            <option *ngFor="let attrType of attrTypeShotAmmoTypeList"
                                                [attr.value]="attrType.id">
                                                {{attrType.name}}
                                            </option>
                                        </select>
                                        <input type="number" [(ngModel)]="character.weaponShot.base.atk"
                                            (ngModelChange)="character.updateStatus()">
                                        <span class="tune-text">(Tune: {{character.weaponShot.atk}})</span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="attr">
                                <td class="name">屬性值</td>
                                <td>
                                    <div class="wrapper-row">
                                        <select [(ngModel)]="character.weaponShot.base.attrTypeId"
                                            (ngModelChange)="character.updateStatus()">
                                            <option *ngFor="let attrType of attrTypeAttrList"
                                                [attr.value]="attrType.id">
                                                {{attrType.name}}
                                            </option>
                                        </select>
                                        <input type="number" [style.color]="character.weaponClose.attrColor"
                                            [(ngModel)]="character.weaponShot.base.attr"
                                            (ngModelChange)="character.updateStatus()">
                                        <span [style.color]="character.weaponShot.attrColor">(Tune:
                                            {{character.weaponShot.attr}})</span>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="!character.weaponShot.isCustom">
                            <ng-container *ngTemplateOutlet="gearBaseRow; context:{gear:character.weaponShot}">
                            </ng-container>
                            <tr>
                                <td class="name">ATK</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="name">屬性值</td>
                                <td></td>
                            </tr>
                        </ng-container>
                        <ng-container *ngTemplateOutlet="gearBuffRow; context:{gear:character.weaponShot}">
                        </ng-container>
                    </tbody>
                </table>
                <table class="unit weapon-close">
                    <tbody>
                        <tr>
                            <td class="title-cell" colspan="2">近身</td>
                        </tr>
                        <ng-container
                            *ngTemplateOutlet="gearCustomRow; context:{data:{gears:character.weaponCloses,gear:character.weaponClose}}">
                        </ng-container>
                        <ng-container *ngIf="character.weaponClose.isCustom">
                            <tr class="atk">
                                <td class="name">ATK</td>
                                <td>
                                    <div class="wrapper-row">
                                        <select [(ngModel)]="character.weaponClose.base.unitType"
                                            (ngModelChange)="character.updateStatus()">
                                            <option *ngFor="let attrType of attrTypeGearCloseList"
                                                [attr.value]="attrType.id">
                                                {{attrType.name}}
                                            </option>
                                        </select>
                                        <select [(ngModel)]="character.weaponClose.base.atkAmmoTypeId"
                                            (ngModelChange)="character.updateStatus()">
                                            <option *ngFor="let attrType of attrTypeCloseHitTypeList"
                                                [attr.value]="attrType.id">
                                                {{attrType.name}}
                                            </option>
                                        </select>
                                        <input type="number" [(ngModel)]="character.weaponClose.base.atk"
                                            (ngModelChange)="character.updateStatus()">
                                        <span class="tune-text">(Tune: {{character.weaponClose.atk}})</span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="attr">
                                <td class="name">屬性值</td>
                                <td>
                                    <div class="wrapper-row">
                                        <select [(ngModel)]="character.weaponClose.base.attrTypeId"
                                            (ngModelChange)="character.updateStatus()">
                                            <option *ngFor="let attrType of attrTypeAttrList"
                                                [attr.value]="attrType.id">
                                                {{attrType.name}}
                                            </option>
                                        </select>
                                        <input type="number" [style.color]="character.weaponClose.attrColor"
                                            [(ngModel)]="character.weaponClose.base.attr"
                                            (ngModelChange)="character.updateStatus()">
                                        <span [style.color]="character.weaponClose.attrColor">(Tune:
                                            {{character.weaponClose.attr}})</span>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="!character.weaponClose.isCustom">
                            <ng-container *ngTemplateOutlet="gearBaseRow; context:{gear:character.weaponClose}">
                            </ng-container>
                            <tr>
                                <td class="name">ATK</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="name">屬性值</td>
                                <td></td>
                            </tr>
                        </ng-container>
                        <ng-container *ngTemplateOutlet="gearBuffRow; context:{gear:character.weaponClose}">
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <div class="row equipment">
                <table class="unit equipment-top">
                    <tbody>
                        <tr>
                            <td class="title-cell" colspan="2">上身</td>
                        </tr>
                        <ng-container
                            *ngTemplateOutlet="gearCustomRow; context:{data:{gears:character.equipmentTops,gear:character.equipmentTop}}">
                        </ng-container>
                        <ng-container *ngIf="character.equipmentTop.isCustom">
                            <tr class="hp">
                                <td class="name">HP</td>
                                <td>
                                    <div class="wrapper-row">
                                        <input type="number" [(ngModel)]="character.equipmentTop.base.hp"
                                            (ngModelChange)="character.updateStatus()">
                                        <span class="tune-text">(Tune: {{character.equipmentTop.hp}})</span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="def">
                                <td class="name">DEF</td>
                                <td>
                                    <div class="wrapper-row">
                                        <input type="number" [(ngModel)]="character.equipmentTop.base.def"
                                            (ngModelChange)="character.updateStatus()">
                                        <span class="tune-text">(Tune: {{character.equipmentTop.def}})</span>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="!character.equipmentTop.isCustom">
                            <ng-container *ngTemplateOutlet="gearBaseRow; context:{gear:character.equipmentTop}">
                            </ng-container>
                            <tr>
                                <td class="name">HP</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="name">DEF</td>
                                <td></td>
                            </tr>
                        </ng-container>
                        <ng-container *ngTemplateOutlet="gearBuffRow; context:{gear:character.equipmentTop}">
                        </ng-container>
                    </tbody>
                </table>
                <table class="unit equipment-bottom">
                    <tbody>
                        <tr>
                            <td class="title-cell" colspan="2">下身</td>
                        </tr>
                        <ng-container
                            *ngTemplateOutlet="gearCustomRow; context:{data:{gears:character.equipmentBottoms,gear:character.equipmentBottom}}">
                        </ng-container>
                        <ng-container *ngIf="character.equipmentBottom.isCustom">
                            <tr class="hp">
                                <td class="name">HP</td>
                                <td>
                                    <div class="wrapper-row">
                                        <input type="number" [(ngModel)]="character.equipmentBottom.base.hp"
                                            (ngModelChange)="character.updateStatus()">
                                        <span class="tune-text">(Tune: {{character.equipmentBottom.hp}})</span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="def">
                                <td class="name">DEF</td>
                                <td>
                                    <div class="wrapper-row">
                                        <input type="number" [(ngModel)]="character.equipmentBottom.base.def"
                                            (ngModelChange)="character.updateStatus()">
                                        <span class="tune-text">(Tune: {{character.equipmentBottom.def}})</span>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="!character.equipmentBottom.isCustom">
                            <ng-container *ngTemplateOutlet="gearBaseRow; context:{gear:character.equipmentBottom}">
                            </ng-container>
                            <tr>
                                <td class="name">HP</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="name">DEF</td>
                                <td></td>
                            </tr>
                        </ng-container>
                        <ng-container *ngTemplateOutlet="gearBuffRow; context:{gear:character.equipmentBottom}">
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<ng-template #gearCustomRow let-data="data">
    <tr>
        <td class="gear-custom-cell" colspan="2">
            <div class="wrapper-col">
                <div class="row">
                    <select>
                        <option *ngFor="let gear of data.gears">{{gear.base.name}}
                        </option>
                    </select>
                </div>
                <div class="row">
                    <button>SET</button>
                    <button (click)="data.gear.isCustom=!data.gear.isCustom">
                        <span>CUSTOM:</span>
                        <span [ngClass]="{'is-custom': data.gear.isCustom}">{{data.gear.isCustom?'ON':'OFF'}}</span>
                    </button>
                </div>
            </div>
        </td>
    </tr>
</ng-template>
<ng-template #gearBaseRow let-gear="gear">
    <tr>
        <td class="name">Lv</td>
        <td>
            <div class="wrapper-row">
                <input type="number" [(ngModel)]="gear.base.level" [attr.min]="gear.base.levelMin" [attr.max]="gear.base.levelMax"
                    (ngModelChange)="gear.updateStatus()">
                <span>{{gear.base.levelMin}}</span>
                <input type="range" [attr.min]="gear.base.levelMin" [attr.max]="gear.base.levelMax" [(ngModel)]="gear.base.level"
                    (ngModelChange)="gear.updateStatus()">
                <span>{{gear.base.levelMax}}</span>
            </div>
        </td>
    </tr>
    <tr>
        <td class="name">+</td>
        <td>
            <div class="wrapper-row">
                <input type="number" [(ngModel)]="gear.gradeUp" [attr.min]="1" [attr.max]="gear.gradeUpLimit"
                    (ngModelChange)="gear.updateStatus()">
                <span>{{0}}</span>
                <input type="range" [attr.min]="0" [attr.max]="gear.gradeUpLimit" [(ngModel)]="gear.gradeUp"
                    (ngModelChange)="gear.updateStatus()">
                <span>{{gear.gradeUpLimit}}</span>
            </div>
        </td>
    </tr>
</ng-template>
<ng-template #gearBuffRow let-gear="gear">
    <tr class="buff-list-tr">
        <td class="name">Buff</td>
        <td>
            <div class="wrapper-row">
                <div class="buff-list">
                    <div class="buff" *ngFor="let buff of gear.buffs">
                        <select [(ngModel)]="buff.type" (ngModelChange)="character.updateStatus()">
                            <option *ngFor="let attrType of attrTypeList" [attr.value]="attrType.id">
                                {{attrType.name}}
                            </option>
                        </select>
                        <input type="number" class="value" [(ngModel)]="buff.valuePct" [style.color]="buff.attrColor"
                            (ngModelChange)="character.updateStatus()">%
                        <hr class="line">
                        <button class="delete" (click)="deleteBuff(gear.buffs,buff);
                        character.updateStatus()">X</button>
                    </div>
                    <button class="new-buff" (click)="addBuff(gear.buffs);
                    character.updateStatus()">[+]</button>
                </div>
            </div>
        </td>
    </tr>
    <tr class="tune-list">
        <td class="name">Tune</td>
        <td>
            <div class="wrapper-row">
                <div class="buff-list">
                    <div class="buff" *ngFor="let buff of gear.tunes">
                        <select [(ngModel)]="buff.type" (ngModelChange)="character.updateStatus()">
                            <option *ngFor="let attrType of attrTypeList" [attr.value]="attrType.id">
                                {{attrType.name}}
                            </option>
                        </select>
                        <input type="number" class="value" [(ngModel)]="buff.valuePct" [style.color]="buff.attrColor"
                            (ngModelChange)="character.updateStatus()">%
                        <hr class="line">
                        <button class="delete" (click)="deleteBuff(gear.tunes,buff);
                        character.updateStatus()">X</button>
                    </div>
                    <button class="new-buff" (click)="addBuff(gear.tunes);
                    character.updateStatus()">[+]</button>
                </div>
            </div>
        </td>
    </tr>
</ng-template>