<div class="aika-enigma">
    <div class="column">
        <select #characterList class="character-list" name="character-list" size="10"
        [(ngModel)]="selectedCharacterId"
        (change)="onCharacterChange()">
            <option
            #characterOption
            *ngFor="let character of characters"
            [value]="character.id"
            [ngStyle]="getCharacterOptionStyle(character)"
            >{{character.name}}</option>
        </select>
    </div>
    <div class="character">
        <h1 class="name">{{getSelectedCharacterName()}}</h1>
        <div class="effect-summary">{{selectedCharacterEffectSummary}}</div>
        <div class="character-psvskill-list">
            <div class="slot"
            *ngFor="let slot of selectedCharacterSlots;"
            [ngClass]="{selected:selectedSlot==slot}">
                <div class="index">{{slot.index}}</div>
                <div class="head" *ngIf="slot.enable">
                    <div class="type">{{slot.tagStyle.name}}</div>
                    <div class="cost">{{slot.costPoint}}</div>
                </div>
                <div class="body" *ngIf="slot.selectedPsvSkill != null">
                    <div class="tag-info">
                        <div class="tags">
                            <span class="area-tag">{{slot.selectedPsvSkill.areaNameTag}}</span>
                            <span class="tag" *ngFor="let tagStyle of slot.selectedPsvSkill.tagStyles; let last = last">{{tagStyle.name}}</span>
                        </div>
                        <span class="cost">{{slot.selectedPsvSkill.costPoint}}</span>
                    </div>
                    <div class="name">{{slot.selectedPsvSkill.name}}</div>
                    <div class="description">{{slot.selectedPsvSkill.desc}}</div>
                    <div class="effect">{{slot.selectedPsvSkill.effect}}</div>
                </div>
                <div class="body" *ngIf="slot.selectedPsvSkill==null">
                    <span>--</span>
                </div>
                <button type="button" class="change-psvskill"
                *ngIf="slot.enable"
                (click)="selectSlot(slot)"
                >[>]</button>
            </div>
        </div>
    </div>
    <div class="psvskill-list-column">
        <div class="toolbar">
            <div class="row">
                <span>過濾:</span>
                <button type="button" (click)="setEffectFilter('ALL',$event)">ALL</button>
                <label *ngFor="let area of selectedSectionAreas">
                    <input type="checkbox" [(ngModel)]="showAreaPsvSkills[area.name]" (change)="onFilterAreaCheckboxChanged(area.name)">
                    <span>{{area.name}}</span>
                </label>
                <button type="button"
                    [ngClass]="{selected:filterEffectNames.includes(effectName)}"
                    *ngFor="let effectName of slotSelectablePsvSkillEffectNames"
                    (click)="setEffectFilter(effectName,$event)">{{effectName}}</button>
            </div>
        </div>
        <div class="psvskill-list" #psvSkillList>
            <div class="psvskill"
                #psvSkillItem
                *ngFor="let psvSkill of slotSelectablePsvSkills;"
                [attr.data-gid]="psvSkill.gid"
                [ngClass]="{
                    hide: checkPsvSkillHide(psvSkill),
                    selected:selectedSlot && selectedSlot.selectedPsvSkillGid == psvSkill.gid,
                    'other-selected': slotsSelectedPsvSkills[psvSkill.gid] != null && selectedSlot && selectedSlot.selectedPsvSkillGid != psvSkill.gid,
                }">
                <div class="head">
                    <button type="button" class="change-psvskill" (click)="selectPsvSkill(psvSkill)">[<]</button>
                </div>
                <div class="body">
                    <div class="tag-info">
                        <div class="tags">
                            <span class="area-tag">{{psvSkill.areaNameTag}}</span>
                            <span class="tag" *ngFor="let tagStyle of psvSkill.tagStyles; let last = last">{{tagStyle.name}}</span>
                        </div>
                        <span class="cost">{{psvSkill.costPoint}}</span>
                    </div>
                    <div class="name">{{psvSkill.name}}</div>
                    <div class="description">{{psvSkill.desc}}</div>
                    <div class="effect">{{psvSkill.effect}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
